# Node.js dependencies
frontend/node_modules/

# React build output
frontend/build/

# Spring Boot build output
backend/target/

node_modules/

# Environment variables
*.env

# Logs
*.log

# IDE files
*.iml
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db